<section class="w-full h-full grid justify-center gap-2 overflow-auto p-5">
  <h1 class="text-lg font-bold text-center">QR Scanner</h1>
  <div class="mt-2" *ngIf="!qrResultString">
    <zxing-scanner
      *ngIf="!scannedBarcode"
      #scanner
      class="rounded"
      [formats]="formats"
      (camerasFound)="onScannerReady()"
      [device]="selectedDevice"
      [tryHarder]="true"
      (scanSuccess)="onCodeResult($event)"
    ></zxing-scanner>
  </div>

  <video #videoElement autoplay></video>
  <canvas #qrCanvas width="300" height="300"></canvas>

  <p *ngIf="qrResultString">Scanned QR Code: {{ qrResultString }}</p>

  <div *ngIf="blobUrl">
    <h3>Captured QR Code Image:</h3>
    <img [src]="blobUrl" alt="Captured QR Code" class="rounded" />
  </div>

  <div *ngIf="dataUrl">
    <h3>Captured QR Code Image Data URL:</h3>
    <img [src]="dataUrl" alt="Captured QR Code" class="rounded" />
  </div>

  <div *ngIf="qrResultString">
    <button
      type="button"
      class="btn bg-red-500 text-white"
      (click)="onScanAgain()"
    >
      Scan Again
    </button>
  </div>

  <p *ngIf="scannedBarcode" class="mt-4 p-3 rounded bg-white">
    <b>Scanned Barcode:</b> {{ scannedBarcode | json }}
  </p>

  <div *ngIf="scannedBarcode">
    <img
      [src]="qrImage"
      *ngIf="qrImage"
      alt="Scanned QR Code"
      class="rounded"
    />
    <form [formGroup]="qrScanForm" (submit)="onSubmit()">
      <div class="grid">
        <label class="form-label">Original QR code Data</label>
        <input
          type="text"
          class="form-control"
          formControlName="originalQrCodeData"
          readonly
        />
      </div>
      <div class="grid">
        <label class="form-label">Modify original QR code Data</label>
        <!-- <input
          type="text"
          value="{{ scannedBarcode | json }}"
          class="form-control"
        /> -->
        <textarea
          name="scanData"
          id="sacnData"
          class="form-control"
          formControlName="modifiedQrCodeData"
          rows="5"
        ></textarea>
      </div>

      <div class="pt-2 flex gap-2 items-center justify-end">
        <button
          type="button"
          class="btn bg-red-500 text-white"
          (click)="onScanAgain()"
        >
          Scan Again
        </button>
        <button type="submit" class="btn bg-green-600 text-white">
          Modify and Store
        </button>
      </div>
    </form>
  </div>
</section>
