<section class="w-full grid justify-center gap-2 overflow-auto p-5">
  <h1 class="text-lg font-bold text-center">QR Scanner</h1>
  <div class="mt-2" *ngIf="!qrResultString">
    <zxing-scanner
      *ngIf="!scannedBarcode"
      #scanner
      class="rounded"
      [formats]="formats"
      (camerasFound)="onScannerReady()"
      [device]="selectedDevice"
      [tryHarder]="true"
      (scanSuccess)="onScanSuccess($event)"
    ></zxing-scanner>
  </div>

  <p *ngIf="scannedBarcode" class="mt-4 p-3 rounded bg-white">
    <b>Scanned Barcode:</b> {{ scannedBarcode | json }}
  </p>
  <div *ngIf="scannedBarcode" class="mt-4 p-3 rounded bg-white grid gap-3">
    <b>Generated Barcode:</b>
    <img src="{{ qrDataUrl }}" alt="QR Image" class="size-32" />
    <small>*updating...</small>
  </div>

  <div *ngIf="scannedBarcode">
    <img
      [src]="qrImage"
      *ngIf="qrImage"
      alt="Scanned QR Code"
      class="rounded"
    />
    <form [formGroup]="qrScanForm" (submit)="onSubmit()">
      <div class="grid">
        <label class="form-label">Original QR code Data</label>
        <input
          type="text"
          class="form-control"
          formControlName="originalQrCodeData"
          readonly
        />
      </div>
      <div class="grid">
        <label class="form-label">Medicine name</label>
        <input
          type="text"
          class="form-control"
          formControlName="medicineName"
        />
      </div>
      <div class="grid">
        <label class="form-label">Manufacturer name</label>
        <input
          type="text"
          class="form-control"
          formControlName="manufacturerName"
        />
      </div>
      <div class="grid">
        <label class="form-label">Medicine Type</label>
        <input
          type="text"
          class="form-control"
          formControlName="medicineType"
        />
      </div>
      <div class="grid">
        <label class="form-label">Medicine Price</label>
        <input
          type="number"
          class="form-control"
          formControlName="medicinePrice"
        />
      </div>

      <div class="pt-2 flex gap-2 items-center justify-end">
        <button
          type="button"
          class="btn bg-red-500 text-white"
          (click)="onScanAgain()"
        >
          Scan Again
        </button>
        <button
          type="submit"
          class="btn bg-green-600 text-white"
          [disabled]="qrScanForm.invalid"
        >
          Modify and Store
        </button>
      </div>
    </form>
  </div>
</section>
